/* ----------- Max Width 1399px ----------- */

/* How To Help Us grid responsiveness in home right column */
@media (max-width: 991px) {
  .how-to-help-sec .how-to-help-box {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (max-width: 575px) {
  .how-to-help-sec .how-to-help-box {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1399px) {

	.sticky-menu .cart-button {
		display: none;
	}

	.sticky-menu .menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.event-button a {
		padding: 12px 20px;
	}

}

/* ----------- Max Width 1199px ----------- */
@media (max-width: 1199px) {

	.main-menu ul li a {
		padding: 28px 8px;
	}

	.slider-wraper {
		width: 970px;
	}

	.slider-text {
		padding: 0;
	}

	.hero-slider .swiper-wrapper .swiper-slide {
		height: 550px;
	}

	.info-box {
		padding-left: 26px;
	}

	.donate-box-button a {
		padding: 14px 20px;
	}

	.vedio-sec {
		padding: 140px 0;
	}

	.volunteer-form>h1 {
		font-size: 32px;
	}

	.donor-comment {
		padding-left: 10px;
	}

	.single-causes-text {
		padding: 30px 10px;
	}

	.single-causes-text h2 a {
		font-size: 14px;
	}

	.single-causes-text h2 {
		margin-bottom: 5px
	}

	.single-causes-text p {
		font-size: 14px;
		margin-bottom: 10px
	}

	.single-post-text li a {
		padding-right: 0;
	}

	.donate-amount span {
		padding: 10px 13px;
	}

	.cause-list-thumb {
		width: 40%;
		margin-right: 20px;
		float: left;
	}

	.cause-list-inner {
		width: 50%;
		float: right;
	}

}

/* ----------- Max Width 991px ----------- */
@media (max-width: 991px) {

	body {
		font-size: 15px;
		line-height: 24px;
	}

	h1 {
		font-size: 22px;
	}

	h2 {
		font-size: 18px;
	}

	h3 {
		font-size: 16px;
	}

	.pt-120 {
		padding-top: 100px
	}

	.pb-120 {
		padding-bottom: 100px
	}

	.pb-50 {
		padding-bottom: 30px
	}

	.pb-90 {
		padding-bottom: 70px
	}

	.pb-100 {
		padding-bottom: 80px
	}

	.hd-top-sec {
		display: none;
	}

	.hd-sec {
		background: #10cb7f;
	}

	.hd-sec.home2 .menu {
		background: none;
	}

	.cart-button {
		display: none;
	}

	.menu {
		padding: 10px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.menu .stickLogo {
		display: inline-block;
	}

	.main-menu {
		display: none;
	}

	.site-search {
		display: none;
	}

	.hd-sec.sticky-menu {
		background: #10cb7f;
	}

	.slider-text {
		padding-left: 120px;
		padding-right: 120px;
	}

	/* ----- Home OffCanvas Menu ----- */

	.offcanvas-menu-area {
		text-align: right;
	}

	.offcanvas-menu-area .offcanvas {
		height: 100vh;
		position: fixed;
		z-index: 55555;
		right: 0;
		bottom: 0;
		overflow: hidden;
	}

	.offcanvas-menu-area .offcanvas-header {
		padding-right: 40px;
	}

	.offcanvas-menu-area .offcanvas-header .offcanvasClose i {
		color: #fff;
		position: relative;
	}

	.offcanvas-menu-area .offcanvas-header .offcanvasClose {
		background: #1e1e1e;
		border: none;
		border-radius: 40px;
		color: #fff;
		display: inline-block;
		font-size: 20px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		transition: .4s;
		width: 40px;
		z-index: 333;
	}

	.offcanvas-menu-area .offcanvas-header .offcanvasClose:hover {
		background-color: #10cb7f;
	}

	.offcanvas-menu-area .offcanvas-header .offcanvasClose:hover i {
		color: #fff;
	}

	.offcanvas-menu-area .offcanvas-btn {
		color: #fff;
	}

	.offcanvas-menu-area .offcanvas-btn i {
		font-size: 22px;
	}

	.offcanvas-menu-area .navbar-nav .nav-link {
		color: #2d2d43;
		border-bottom: 1px solid #ddd;
		position: relative;
		font-size: 17px;
		text-align: left;
	}

	.offcanvas-menu-area .navbar-nav .nav-link i {
		right: 20px;
		position: absolute;
	}

	.offcanvas-menu-area .navbar-nav .nav-link::after {
		display: none;
	}

	.offcanvas-menu-area .navbar-nav .nav-link:hover {
		color: #10cb7f;
	}

	.offcanvas-menu-area .navbar-nav .nav-link.active {
		color: #10cb7f;
	}

	.offcanvas-menu-area .dropdown-item.active,
	.dropdown-item:active {
		color: #10cb7f;
		background: none;
	}

	.offcanvas-menu-area .dropdown-menu {
		--bs-dropdown-border-color: none;
	}

	.offcanvas-menu-area .dropdown-item:focus,
	.offcanvas-menu-area .dropdown-item:hover {
		color: #10cb7f;
		background: none;
	}

	.offcanvas-menu-area ul.dropdown-menu li a.dropdown-item {
		padding-bottom: 10px;
		padding-left: 20px;
		padding-top: 10px;
		border-bottom: 1px solid #ddd;
		font-size: 17px;
	}

	.offcanvas-menu-area ul.dropdown-menu li:last-child a.dropdown-item {
		border-bottom: none;
	}

	.offcanvas-menu-area .dropdown-menu {
		padding: 0;
	}

	.hero-slider .swiper-wrapper .swiper-slide {
		height: 420px;
	}

	.volunteer-form::before {
		left: 0;
	}

	.donor-testimonial .swiper-pagination {
		bottom: 0px;
	}

	.donation-status {
		margin-top: 40px;
	}

	.donate-box-button a {
		padding: 14px 7px;
	}

	.single-causes-detials img {
		margin-bottom: 20px;
	}

	.sidebar h1 {
		margin-top: 40px;
		margin-bottom: 25px;
	}

	.billing-form.billing-details {
		padding-right: 0px;
	}

	.billing-form.shipping-details {
		padding-left: 0;
	}

	.info-box {
		padding-left: 0;
	}

	.sec-title h1 {
		font-size: 28px;
	}

	.social-profile li a i {
		height: 30px;
		line-height: 30px;
		margin: 0 0px;
		width: 30px;
	}

	.social-profile li a {
		margin-bottom: 5px;
	}

	.main-menu ul li a {
		padding: 29px 5px;
		font-size: 13px
	}

	.cart-button {
		padding: 28px 60px;
	}

	.site-search {
		padding: 28px 20px;
	}

	.search-forum {
		left: -218px;
	}

	.slider-wraper {
		width: 100%;
	}

	.slider-text {
		width: 100%;
	}

	.donate-box-inner {
		margin-bottom: 40px;
	}

	.donate-box>img {
		width: 100%;
	}

	.slider-text h1 {
		font-size: 36px;
	}

	.event-ticket-widget {
		margin-top: 0;
	}

	.volunteer-form {
		padding: 50px 50px 50px 50px;
	}

	.testimonial-text>h1,
	.volunteer-form>h1 {
		font-size: 28px;
	}

	.blog-meta {
		padding: 0px 10px;
	}

	.causes-fund span {
		width: 100%;
		display: inline-block;
	}

	.cause-list-inner .causes-fund span:last-child {
		float: none;
	}

	.single-causes-text {
		padding: 20px;
	}

	.blog-grid-filter li,
	.simplefilter li {
		padding: 10px 26px;
	}

	.causes-button {
		margin-top: 10px;
	}

	.causes-button span a {
		margin: 10px;
	}

	.counting_sl {
		margin: 30px 0;
	}

	.counting_sl h4 {
		font-size: 14px;
	}

	.feature-thumb>img {
		width: 100%;
	}

	.blog-meta li {
		padding: 5px 0px;
	}

	.bussiness-time {
		margin-top: 33px;
	}

	.wedget-newsletter {
		margin-top: 40px;
	}

	.team-sec .col-lg-3.col-md-3.col-sm-6.col-xs-12:nth-child(2n+1) {
		clear: both;
	}

	.update-cart-left input[type="text"] {
		width: 160px;
		padding: 14px 6px;
	}

	.update-cart-right li a,
	.checkout-button a {
		padding: 14px 20px;
	}

	.payment-method {
		padding-left: 0px;
		margin-top: 30px
	}

	.faq-sec {
		margin-bottom: 30px;
	}

	.donate-amount {
		margin-bottom: 30px;
	}

	.sidebar {
		margin-top: 40px;
	}

	.product-text h2 a {
		font-size: 16px;
	}

	.product-meta .add-to-cart a {
		padding: 10px 10px;
	}

	.add-to-rating a i {
		font-size: 12px;
	}

	.home2-logo.logo {
		text-align: center;
	}

	.hd-sec.home2 .menu {
		text-align: center;
	}

	.admin-email,
	.social-link {
		border: none;
	}

	.faq-sec {
		padding-right: 0px;
	}

}

/* ----------- Max Width 767px ----------- */
@media (max-width: 767px) {
	body {
		font-size: 14px;
		line-height: 24px;
	}

	h1 {
		font-size: 22px;
	}

	h2 {
		font-size: 18px;
	}

	h3 {
		font-size: 16px;
	}

	.pt-100 {
		padding-top: 80px
	}

	.pb-100 {
		padding-bottom: 80px
	}

	.pb-50 {
		padding-bottom: 10px
	}

	.pb-90 {
		padding-bottom: 50px
	}

	.pb-100 {
		padding-bottom: 60px
	}

	.sec-title {
		margin-bottom: 30px;
	}

	/* Hero slider height already defined in more specific media queries */

	.slider-text {
		padding-left: 40px;
		padding-right: 40px;
	}

	.faq-sec {
		padding-right: 0px;
	}

	.gallery-full-sec .inner {
		width: 50%;
	}

	.billing-form.billing-details {
		padding-right: 0px;
	}

	.search-forum {
		left: 0;
	}

	.billing-form.shipping-details {
		padding-left: 0;
		margin-top: 30px;
	}

	.single-causes-detials img {
		margin-bottom: 20px;
	}

	.sidebar h1 {
		margin-top: 40px;
		margin-bottom: 25px;
	}

	.bussiness-time {
		margin: 40px 0px;
	}

	.volunteer-form::before {
		background-color: none;
	}

	.become-volunteer-sec {
		background: none;
	}

	.event-button-area,
	.event-button {
		position: relative;
		display: inline;
		margin-top: 10px;
	}

	.event-desc .event-meta ul {
		position: relative;
		top: 0;
		transform: none;
	}

	.event-desc .event-meta {
		float: left;
		height: 100%;
		padding-left: 20px;
		width: 100%;
		padding-top: 20px;
	}

	.cause-list {
		position: relative;
		width: 100%;
		background: #fff
	}

	.cause-list-thumb {
		width: 100%;
		margin-right: 0;
		float: none;
	}

	.cause-list {
		display: block;
		position: relative;
	}

	.cause-list-inner {
		width: 100%;
		float: none;
	}

	.cause-list-inner .single-causes-text {
		text-align: left;
		position: relative;
		transform: none;
		padding-top: 30px;
		background: #fff;
	}

	.gallery-overlay h2 {
		font-size: 14px
	}

	.counting_sl h2 {
		font-size: 32px;
	}

	.counting_sl h4 {
		font-size: 14px;
	}

	.error-page-content h1 {
		margin-left: 0px;
	}

	.event-title h1 {
		line-height: 32px;
	}

	.event-img-overlay li a {
		font-size: 16px;
	}

	.admin-email,
	.social-link {
		border: none;
	}

	.top-bar-sec {
		border-bottom: 0px;
		padding-top: 70px;
		padding-bottom: 0;
	}

	.what-we-do-inner h2 {
		text-align: left;
	}

	.event-thumb {
		width: 100%;
		float: none;
	}

	.sec-title {
		margin-left: 0;
		margin-right: 0;
	}

	.sec-title h1 {
		font-size: 28px;
	}

	.all-patner-sec {
		padding: 40px 0;
	}

	.info-box {
		display: inline-block;
		padding: 0px 10px;
	}

	.info-box span {
		text-align: center;
	}

	.volunteer-form {
		padding: 50px 50px 50px 50px;
	}

	.slider-wraper {
		width: 100%;
	}

	.slider-text {
		width: 100%;
	}

	.volunteer-form::before {
		width: 100%;
	}

	.blog-grid-filter li {
		width: 100%;
		margin-top: 5px;
	}

	.logo {
		text-align: center;
		margin-top: 20px;
	}

	.social-profile,
	.contact-info {
		display: none;
	}

	.hd-top-sec {
		padding-top: 30px;
		padding-bottom: 15px;
	}

	.donate-box img {
		width: 100%;
	}

	.mean-nav li a i {
		display: none;
	}

	.donate-box-inner {
		margin-bottom: 40px;
	}

	.volunteer-form {
		width: 100%;
		padding-right: 50px;
	}

	.feature-thumb>img,
	.causes-thumb img {
		width: 100%;
	}

	.counting_sl {
		margin: 30px 0;
	}

	.slider-text h1 {
		font-size: 28px;
		line-height: 36px;
	}

	.testimonial-text {
		margin-bottom: 70px;
	}

	.slider-text li a {
		margin-bottom: 20px;
	}

	.countup-icon {
		width: 60px;
		height: 60px;
	}

	.breadcrumb-left {
		text-align: center;
	}

	.breadcrumb-right {
		text-align: center
	}

	.breadcrumb-right span {
		float: none;
	}

	.about-page-thumb img {
		width: 100%;
	}

	.pagehding-sec {
		padding-top: 120px;
		padding-bottom: 48px;
	}

	.page-heading h1 {
		font-size: 28px;
	}

	.simplefilter {
		margin-top: 40px;
	}

	.shorttitle {
		background: #10cb7f none repeat scroll 0 0;
		display: block;
		margin-bottom: 40px;
		padding: 20px;
	}

	#navbarfiltr.navbar-collapse {
		border: 0;
		box-shadow: none;
	}

	.navbarsort .navbar-toggle {
		background: #ff6d0d none repeat scroll 0 0;
		margin-top: 15px;
	}

	.navbarsort .navbar-toggle .icon-bar {
		background: #fff;
	}

	.footer-wedget-one {
		margin-bottom: 40px;
	}

	.shorttitle h2 {
		color: #fff;
		text-transform: uppercase;
		margin-bottom: 0;
		display: inline-block;
		margin-left: 10px;
	}

	#navbar li {
		display: inline-block;
		width: 100%;
	}

	#navbar ul li a {
		padding: 6px 9px;
	}

	.simplefilter li {
		display: inline-block;
		width: 100%;
		margin-bottom: 10px;
	}

	.navbarsort {
		display: block
	}

	.login-form.billing-form {
		margin-top: 30px;
	}

	.update-cart-left {
		margin-bottom: 20px;
	}

	.update-cart-right {
		text-align: center;
	}

	.col-md-6.no-padding {
		padding: 0px 15px;
	}

	.payment-method {
		padding-left: 0px;
		margin-top: 30px
	}

	.donate-amount {
		margin-bottom: 30px;
	}

	.donate-amount input[type="text"] {
		width: 100%;
		margin: 20px 0;
	}

	.payment-gateway {
		margin-top: 30px;
		position: none;
		top: 0px;
	}

	.sidebar {
		margin-top: 40px;
	}

	.payment-gateway {
		text-align: left;
	}

	.update-cart-left input[type="text"] {
		width: 170px;
		padding: 14px;
		margin-bottom: 10px;
	}

	.update-cart-right li a,
	.checkout-button a {
		padding: 14px 0px;
		width: 170px;
		margin-bottom: 10px;
	}

	.checkout-button a.process-checkout {
		width: inherit;
		padding: 14px;
	}

	.speaker-thumb {
		float: none;
	}

	.speaker-info {
		position: relative;
		top: 10px;
		transform: none;
		display: block;
	}

}

/* ----------- Max Width 575px ----------- */
@media (max-width: 575px) {

	.bussiness-time {
		margin: 10px 0px;
	}

	.wedget-newsletter {
		margin-top: 10px;
	}

	.buy-ticket-button a {
		padding: 11px 24px;
	}

	.update-cart-right {
		text-align: left;
	}

	.update-cart-right li a,
	.checkout-button a {
		text-align: center;
	}

	.checkout-button {
		margin-top: 30px;
	}

	.order-note h2 {
		margin-top: 15px;
	}

	.product-details-inner .product-price {
		font-size: 30px;
	}

	.product-details-inner .product-meta {
		margin-top: 10px;
	}

	.product-text h2 {
		margin: 10px 0;
	}

	.product-details-inner .product-text span {
		margin-bottom: 10px;
	}

	.table-text thead tr th {
		padding: 0 10px;
	}

	.offcanvas {
		--bs-offcanvas-width: 340px;
	}

	/* Hero slider height already defined in specific media queries above */

}

/* Ensure team cards stack full-width on small screens */
@media (max-width: 767.98px) {
	.team-sec .container {
		padding-left: 0;
		padding-right: 0;
	}

	.team-sec .row {
		margin-left: 0;
		margin-right: 0;
	}

	.team-sec .row>[class*="col-"] {
		flex: 0 0 100% !important;
		max-width: 100% !important;
		width: 100% !important;
		float: none !important;
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	.team-member {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}

	.team-member>img {
		display: block;
		width: 100%;
		height: auto;
	}
}

/* Hero slider responsive improvements */
@media (max-width: 991px) {
	.hero-slider .swiper-wrapper .swiper-slide {
		height: 400px;
		min-height: 300px;
	}

	.slider-text {
		width: 100%;
		max-width: 100%;
		padding: 0 16px;
	}

	.slider-text ul {
		display: flex;
		flex-direction: column;
		gap: 10px;
		align-items: flex-start;
	}

	.slider-text li a {
		display: inline-block;
		width: auto;
	}
}

@media (max-width: 767px) {
	.hero-slider .swiper-wrapper .swiper-slide {
		height: 350px;
		min-height: 250px;
	}

	.slider-text {
		padding: 0 15px;
	}
}

@media (max-width: 576px) {
	.hero-slider .swiper-wrapper .swiper-slide {
		height: 300px;
		min-height: 200px;
	}

	.slider-text h1 {
		font-size: 24px;
		line-height: 1.3;
	}

	.slider-text h2 {
		font-size: 14px;
	}

	.slider-text ul {
		margin-top: 15px;
	}

	.slider-text li a {
		padding: 12px 24px;
		font-size: 14px;
	}
}

@media (max-width: 480px) {
	.hero-slider .swiper-wrapper .swiper-slide {
		height: 260px;
		min-height: 180px;
	}

	.slider-text h1 {
		font-size: 22px;
	}

	.slider-text h2 {
		font-size: 12px;
	}

	.slider-text li a {
		padding: 10px 20px;
		font-size: 13px;
	}
}

@media (max-width: 375px) {
	.hero-slider .swiper-wrapper .swiper-slide {
		height: 240px;
		min-height: 170px;
	}

	.slider-text h1 {
		font-size: 20px;
	}

	.slider-text li a {
		padding: 8px 16px;
		font-size: 12px;
	}
}

/* Ensure home grids stack to 1-per-row on small screens */
@media (max-width: 767.98px) {

	.our-projects-sec .row>[class*="col-"],
	.programs-highlight-sec .row>[class*="col-"],
	.success-stories-preview-sec .row>[class*="col-"],
	.thematic-areas-sec .row>[class*="col-"],
	.how-to-help-sec .row>[class*="col-"] {
		flex: 0 0 100% !important;
		max-width: 100% !important;
	}
}

/* Success Stories responsive grid */
.responsive-grid-ss {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
@media (max-width: 767px) {
  .responsive-grid-ss {
    grid-template-columns: 1fr;
  }
}

/* ----------- Max Width 480px ----------- */
@media (max-width: 480px) {

	.cart-button {
		padding: 28px 60px;
	}

	.product-tab li {
		display: inline-block;
		width: 100%;
		margin-bottom: 10px;
	}

	.donate-box-text {
		width: 100%;
	}

	.donate-box-button {
		float: left;
		width: 100%;
		display: inline-flex;
	}

	.volunteer-form>h1 {
		font-size: 20px;
	}

	.product-details-inner .product-text span {
		width: 100%;
		margin-bottom: 15px;
		display: inline-block;
		width: 100%;
	}

	.post-tags {
		display: inline-block;
		float: none;
		width: 100%;
	}

	.speaker-info {
		position: relative;
		top: 0;
		transform: none;
		display: inline-block;
		margin-top: 15px;
	}

	.speaker-thumb {
		width: 100%;
		float: none;
	}

	.speaker-thumb img {
		width: 100%;
	}

	.event-img-overlay ul {
		margin: 0;
		padding: 10px 0px
	}

	.post-tags {
		display: inline-block;
		float: none;
		width: 100%;
	}

	.update-cart-left input[type="submit"] {
		margin-top: 20px
	}

	.event-speaker-tab li {
		width: 100%;
		margin-top: 10px;
	}

	.sec-title h1 {
		font-size: 26px;
		margin-bottom: 10px;
	}

	.update-cart-right li:last-child a {
		margin-top: 20px
	}

	.cause-list-inner {
		width: 100%;
		float: none;
		position: absolute;
		bottom: -90px;
	}

	.cause-list {
		margin-bottom: 118px;
	}

	.blog-meta {
		padding: 0px 10px;
	}

	.blog-meta h4 {
		line-height: 14px;
		margin-bottom: 5px;
	}

	.blog-meta h4 a {
		font-size: 12px;
	}

	.commentar-sec img {
		margin-bottom: 20px;
	}

	.slider-text ul {
		margin-top: 25px;
	}
	
	/* More specific selector for hero slider to ensure proper mobile spacing */
	.hero-slider .slider-text ul {
		margin-top: 15px;
	}

	.donate-box-inner {
		margin-bottom: 15px;
	}

	.donate-amount input[type="number"] {
		float: none;
		margin-top: 10px;
	}

}

/* ----------- Max Width 320px ----------- */
@media (max-width: 320px) {

	.offcanvas {
		--bs-offcanvas-width: 240px;
	}

}

/* Responsive adjustments for Welcome Stats */
@media (max-width: 576px) {
	.welcome-stat-number {
		font-size: 28px;
	}
}

/* Footer Responsive Columns */
/* Desktop: 5 columns (20% each) */
@media (min-width: 1200px) {
	.col-lg-2-5 {
		flex: 0 0 20%;
		max-width: 20%;
		padding-left: 12px;
		padding-right: 12px;
	}
}

/* Tablet (md): 3 columns across */
@media (min-width: 769px) and (max-width: 1199px) {
	.col-md-4 {
		flex: 0 0 33.333%;
		max-width: 33.333%;
		padding-left: 12px;
		padding-right: 12px;
	}
}

/* Small tablet (sm): 2 columns */
@media (min-width: 577px) and (max-width: 768px) {
	.col-sm-6 {
		flex: 0 0 50%;
		max-width: 50%;
		padding-left: 12px;
		padding-right: 12px;
	}
}

/* Mobile (xs): 1 column, full width */
@media (max-width: 576px) {
	.col-12 {
		flex: 0 0 100%;
		max-width: 100%;
		padding-left: 12px;
		padding-right: 12px;
	}
}

/* Footer widget alignment - left align text */
.footer-widget-menu,
.footer-wedget-one,
.complaints-section,
.contact-info-section {
	text-align: start;
}